body {
  background-color: #0d0d0d;
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.form-label {
  color: #ffc107 !important;
  text-shadow: 0 0 4px #ffb300;
}

.site-header {
  background: #000;
  border-bottom: 2px solid #ffc107;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.site-header h1{
  text-align: center;
}

.logo-header-height {
    height: 80px;
}

.banner-img {
  max-width: 1100px;
  height: auto;
}

.text-glow {
  color: #ffc107;
  text-shadow:
    0 0 5px #ffc107,
    0 0 10px #ffc107,
    0 0 20px #ff9800,
    0 0 30px #ff9800,
    0 0 40px #ffb300;
}

.section-title {
  font-size: 2.5rem;
  color: #ffc107;
  text-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
  border-bottom: 2px solid #ffc107;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.item-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #ffc107;
}

.card-title {
  color: #ffc107;
}

.card-text {
  color: #ccc;
}

.carousel-inner img {
  border-radius: 10px;
  max-height: 400px;
  object-fit: contain; 
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}


.favorite-btn {
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.1s;
    outline: none; 
}

.favorite-btn:hover i {
    transform: scale(1.2);
}

.favorite-btn i {
    transition: color 0.2s, transform 0.2s;
}


.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
  transition: all 0.2s;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: #0d0d0d;
  border-color: #ffc107;
}

.galeria-title {
    font-size: 1.5rem;
    color: #ffc107;
    border-bottom: 2px solid #6c757d; 
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.galeria-miniatura-card {
    cursor: pointer;
    overflow: hidden;
    height: 100%; 
    transition: transform 0.2s, box-shadow 0.2s;
}

.galeria-miniatura-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
}

.galeria-miniatura-img {
    height: 150px; 
    width: 100%;
    object-fit: contain; 
    border-bottom: 1px solid #495057;
}

.card-footer {
    background-color: #212529; 
    color: #fff;
    font-size: 0.8rem;
}

footer {
    background: #111;
    text-align: center;
    padding: 15px;
    border-top: 2px solid #ffcc00;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #aaa;
}